<app-patient></app-patient>
<div class="text-center">
  <button
    type="button"
    class="btn btn-md"
    style="background-color:color1"
    (click)="showMyComponentapp()"
  >
    นัดหมาย
  </button>
  <button
    type="button"
    class="btn btn-md"
    style="background-color:color2"
    (click)="showMyComponenthis()"
  >
    ประวัติการรักษา
  </button>
</div>
<div>
  <mat-button-toggle-group [value]="selectedState" (change)="onChange($event)">
    <mat-button-toggle [value]="toggleEnum.Option1">นัดหมาย</mat-button-toggle>
    <mat-button-toggle [value]="toggleEnum.Option2"
      >ประวัติการรักษา</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>
<app-appointment *ngIf="showComponentapp"></app-appointment>
<app-history *ngIf="showComponenthis"></app-history>
