<app-patient></app-patient>
<div class="text-center">
  <div
    class="btn-group"
    role="group"
    aria-label="Basic checkbox toggle button group"
  >
    <input
      id="app"
      value="appointment"
      type="radio"
      class="btn-check"
      name="menu-options"
      autocomplete="off"
      (click)="showMyComponent()"
      checked
    />
    <label for="home" class="btn btn-outline-primary">นัดหมาย</label>
    <input
      id="his"
      value="history"
      type="radio"
      class="btn-check"
      name="menu-options"
      autocomplete="off"
    />
    <label for="personal" class="btn btn-outline-primary"
      >ประวัติการรักษา</label
    >
    <button (click)="showMyComponent()">Show My Component</button>
  </div>
</div>
<app-appointment *ngIf="showComponent"></app-appointment>
