<mat-card class="matcard" *ngFor="let item of data" (click)="onCardClick(item)">
  <mat-card-header>
    <mat-card-title-group>
      <!--
      <mat-icon style="float: right;">keyboard_arrow_right</mat-icon>
      -->
      <i class="fa-solid fa-angle-right"></i>
      <mat-card-subtitle>
        {{ item.VisitDate | date: 'dd-MM-YYYY' }}
      </mat-card-subtitle>
      <mat-card-subtitle>แพทย์: {{ item.DoctorName }}</mat-card-subtitle>
      <mat-card-subtitle>คลินิก: {{ item.ClinicName }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
