.header-content {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 16px; /* Adjust as needed */
}

.title {
  flex-grow: 1;
}

.mat-card-subtitle {
  white-space: normal;
  word-wrap: break-word;
}
