<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <img mat-card-md-image src="{{ urlimg }}" style="float: right;" />
      <mat-card-title>Patient Information</mat-card-title>
      <mat-card-subtitle>ชื่อ {{ name }}</mat-card-subtitle>
      <mat-card-subtitle>อายุ {{ age }}</mat-card-subtitle>
      <mat-card-subtitle>HN: {{ tmphn }}</mat-card-subtitle>
      <mat-card-subtitle>IDCard: xxxxxxxxx{{ idcard.substring(9) }}</mat-card-subtitle>
      <mat-card-subtitle>LineUser: {{ userid }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>

