.header-content {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 16px; /* Adjust as needed */
}

.title {
  flex-grow: 1;
}

.mat-card-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .card-subtitle {
    font-size: 12px; /* Adjust as needed */
  }
}

@media (max-width: 400px) {
  .card-subtitle {
    font-size: 8px; /* Adjust as needed */
  }
}
