<mat-card>
<mat-card-header>
<div class="header-content">
<div class="avatar">
      <img mat-card-md-image src="{{ urlimg }}" />
    </div>
    <div class="title">
      <mat-card-title-group>
        <mat-card-title>Patient Information</mat-card-title>
        <mat-card-subtitle>ชื่อ {{ name }}</mat-card-subtitle>
        <mat-card-subtitle>อายุ {{ age }}</mat-card-subtitle>
        <mat-card-subtitle>HN: {{ tmphn }}</mat-card-subtitle>
        <mat-card-subtitle
          >IDCard: XXXXXXXXX{{ idcard.substring(9) }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >LineUser: {{ userid.substring(0, 5) }}XXXXXXXXXXXXXXX{{
            userid.substring(28)
          }}</mat-card-subtitle
        >
      </mat-card-title-group>
    </div>
  </div>
  </mat-card-header>
</mat-card>
