<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      width="50"
      src="https://dev-logic.net/dxapi/img/pnk/kiosk_hos_400.png"
      alt="Hospital"
    />
    <span>โรงพยาบาลพระนั่งเกล้า</span>
    <div class="spacer"></div>
    <button
      type="button"
      class="btn btn-light btn-lg btn_logout"
      (click)="onlogout($event)"
    >
      <span class="text-white"> logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<br />
<div class="container" role="main">
  <router-outlet></router-outlet>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
