<div class="row justify-content-md-center" *ngIf="!datanotfound">
  <mat-card class="matcard" *ngFor="let group of data">
    <mat-card-content>
      <mat-card-subtitle> รายละเอียดนัดหมาย </mat-card-subtitle>
      <mat-card-subtitle
        >วันที่นัด: {{ group.AppointDateTimeFromShow }}</mat-card-subtitle
      >
      <mat-card-subtitle>คลินิก {{ group.ClinicLocalName }}</mat-card-subtitle>
      <mat-card-subtitle>แพทย์ {{ group.DoctorLocalName }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer
      ><p style="font-size:10px;text-align: center;">
        หากมีนัดเจาะเลือดหรือเอกซเรย์ กรุณายื่นคิวก่อนเวลานัดหมายอย่างน้อย 1
        ชั่วโมง
      </p></mat-card-footer
    >
  </mat-card>
</div>
<!---->
<div class="col-xs-6 col-sm-12 text-center" *ngIf="datanotfound">
  <h5 class="font-weight-bold text-dark text-center">
    <span class="font-weight-bold">ไม่พบข้อมูลนัดหมายของคุณ</span><br />
  </h5>
</div>
<!---->
