<div *ngIf="!datanotfound">
  <mat-card class="matcard" *ngFor="let group of data">
    <mat-card-content>
      <mat-card-subtitle> รายละเอียดนัดหมาย </mat-card-subtitle>
      <mat-card-subtitle
        >วันที่นัด: {{ group.AppointDateTimeFromShow }}</mat-card-subtitle
      >
      <mat-card-subtitle>คลินิก {{ group.ClinicLocalName }}</mat-card-subtitle>
      <mat-card-subtitle>แพทย์ {{ group.DoctorLocalName }}</mat-card-subtitle>
      <mat-card-subtitle>แพทย์ {{ group.DoctorLocalName }}</mat-card-subtitle>
      <br /><br />
    </mat-card-content>
    <mat-card-footer
      ><p style="font-size:10px;text-align: center;color:#E7E7E7;">
        หากมีนัดเจาะเลือดหรือเอกซเรย์ กรุณายื่นคิวก่อนเวลานัดหมายอย่างน้อย 1
        ชั่วโมง
      </p></mat-card-footer
    >
  </mat-card>
</div>
<!---->
<div *ngIf="datanotfound">
  <h1 class="font-weight-bold text-dark text-center">
    <span class="font-weight-bold">ไม่พบข้อมูลนัดหมายของคุณ</span>
  </h1>
</div>
<!---->
