<app-patient></app-patient>
<mat-card class="matcard" (click)="onCardClick(item)">
  <mat-card-content>
    <mat-card-title-group>
      <mat-icon style="float: right;">keyboard_arrow_left</mat-icon>
      <mat-card-title>{{ item.VisitDate | date: 'dd-MM-YYYY' }}</mat-card-title>
      <mat-card-subtitle>VN: {{ item.VN }}</mat-card-subtitle>
      <mat-card-subtitle>แพทย์: {{ item.DoctorName }}</mat-card-subtitle>
      <mat-card-subtitle>คลินิก: {{ item.ClinicName }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-content>
</mat-card>
