<app-patient></app-patient>
<mat-card class="matcard" (click)="onCardClick()">
  <mat-card-header>
    <mat-card-title-group>
      <mat-icon style="float: right;">keyboard_arrow_left</mat-icon>
      <mat-card-subtitle>
        {{ visitdate | date: 'dd-MM-YYYY' }}
      </mat-card-subtitle>
      <mat-card-subtitle>แพทย์: {{ doctor }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
<mat-card class="matcard">
  <mat-card-header>
    <mat-card-title> รายการยา </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngFor="let item of data">
    <mat-card-title>
      {{ item.StockName }}
    </mat-card-title>
    <mat-card-subtitle>{{ item.DoseMemo }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
