.matcard {
  margin-bottom: 5px;
  margin-top: 5px;
}
.matcard2 {
  margin-bottom: 5px;
}
.arrow-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(50%);
  width: 32px;
  height: 32px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
}
