<app-patient></app-patient>
<div class="text-center" style="margin-bottom:5px;margin-top:5px;">
  <mat-button-toggle-group [value]="selectedState" (change)="onChange($event)">
    <mat-button-toggle [value]="toggleEnum.Option1">นัดหมาย</mat-button-toggle>
    <mat-button-toggle [value]="toggleEnum.Option2" (click)="onClick($event)"
      >ประวัติการรักษา</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>
<mat-card class="matcard" (click)="onCardClick()">
  <mat-card-header>
    <mat-card-title-group>
      <mat-icon style="float: right;">keyboard_arrow_left</mat-icon>
      <mat-card-subtitle>
        {{ visitdate | date: 'dd-MM-YYYY' }}
      </mat-card-subtitle>
      <mat-card-subtitle>แพทย์: {{ doctor }}</mat-card-subtitle>
      <mat-card-subtitle><br />></mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
<div><h3>รายการยา</h3></div>
<mat-card class="matcard2">
  <mat-card-content *ngFor="let item of data; let i = index">
    <mat-card-title> {{ i + 1 }}. {{ item.StockName }} </mat-card-title>
    <mat-card-subtitle>{{ item.DoseMemo }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
