.logo {
  margin-bottom: 70px;
}

.btn_login {
  /* background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;*/
  width: 200px;
  background-color: rgb(14, 200, 99);
  border-radius: 50px;
}
.txt_header {
  color: #35405e;
  margin-top: 85px;
}
.center_margin_btn {
  margin-top: 150px;
}
.center_margin {
  margin-top: 100px;
}
.txt_header_h1 {
  margin-top: 35px;
}

@media only screen and (max-width: 1024px) {
  .rounded_circle_img {
    width: 300px;
  }
  .rounded_circle_logo {
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .rounded_circle_img {
    width: 200px;
  }
  .rounded_circle_logo {
    width: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .rounded_circle_img {
    width: 180px;
  }
  .rounded_circle_logo {
    width: 130px;
  }
}
