<div class="container">
  <div class="text-center" style="padding-bottom:50px">
    <h1 class="txt_header"><span class="fw-bold">Smart Connect</span></h1>
  </div>
  <div
    class="d-flex align-items-center justify-content-center"
    style="padding-bottom:50px;"
  >
    <img
      src="https://www.pranangklao.go.th/webpnk60/templates/dd_clinic_100/images/logo.png"
      class="rounded-circle"
      alt="Hospital"
      style="width: 400px;"
    />
  </div>
</div>

<div class="container">
  <div class="text-center center_margin">
    <button
      type="button"
      class="btn btn-light btn-lg btn_login"
      (click)="onClick($event)"
    >
      <span class="text-white"
        ><i class="fab fa-line fa-1x text-center"></i>LINE Login</span
      >
    </button>
  </div>
</div>

<div class="text-center"><small>Ver&nbsp;1.0.1</small></div>
<div class="container" hidden>
  <div class="text-center center_margin">
    <button
      class="btn btn-primary btn-lg btn_login"
      type="button"
      (click)="onClick($event)"
    >
      <img
        src="https://cdn.jsdelivr.net/gh/TheNunHahey/angular-DEV3@main/src/assets/img/line_login_base.png"
      />
    </button>
  </div>

  <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
--></div>
